:root {
    --primary-text-color: #757575 ;
    --title-text-color: #212121 ;
    --accent-color: #2196F3 ;
    --primary-background-color: #FFFFFF
}
body {
color:var(--primary-text-color) ;
background color: var(--primary-background-color) ;
font-family: Roboto, sans-serif
 }
 .logo:hover
 .logo:focus {
     font-family: Raleway, sans-serif
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em
 }
 .logo-web {
     color:var(--accent-color) 
 }
 .logo-studio {
      color: #000000 
 }
 button {
     font-family: inherit;
 }
 .footer {
     background-color:#2F303A 
 }
 .footer .logo-studio {
     color: var(--primary-background-color) 
 }
 .site-nav .link {
     color: var(--title-text-color)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }
 .site-nav .link:hover,
 .site-nav .link:focus {
     color: var(--accent-color)
 }
 .section-title {
     color:var(--title-text-color)
 }
 .section {
     color: var(--primary-text-color)
 }
.features-list .title {
    color: var(--title-text-color)
}
.button {
    background-color:var(--accent-color) ;
    color:var(--primary-background-color)
}
  /*цвет Web */  #2196F3
   /* цвета фона страницы */ #FFFFFF
  /* цвет текста */ #FFFFFF
 /*цвет основного текста */  #757575
 /* цвет вторичного тескта */ #212121
 /* цвет слова мэйлаrgba */ rgba (255, 255, 255, 0.6)
 /* цвет фона нашей команы */ #F5F4FA
 /* цвет фона  чем мы занимаемся */ rgba(47, 48, 58, 0.8)
/*цвет фона футера */ #2F303A
